<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Cloudant DB Web Starter</display-name>
	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<description>CREA SIMPLE</description>
		<servlet-name>SimpleServlet</servlet-name>
		<servlet-class>servlet.SimpleServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SimpleServlet</servlet-name>
		<url-pattern>/crearSimple</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<description>CREA SPEECH</description>
		<servlet-name>Speech</servlet-name>
		<servlet-class>servlet.Speech</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Speech</servlet-name>
		<url-pattern>/crearSpeech</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description>CREA TRANSLATOR</description>
		<servlet-name>Translator</servlet-name>
		<servlet-class>servlet.Translator</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Translator</servlet-name>
		<url-pattern>/crearTranslator</url-pattern>
	</servlet-mapping>
	
</web-app>
